<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="d-flex flex-column min-vh-100">
    {{{body}}}
    <footer class="text-center py-3 container-fluid">
        <div class="row">
            <div class="col">
                <p>BluWave Sushi & Handroll Bar</p>
                <p>5.0 stars | 24 Google reviews</p>
                <p>
                    <a href="#">RESERVE A TABLE</a> | <a href="#">ORDER ONLINE</a>
                </p>
                <p>Recently opened</p>
                <p>Located in: 55 West Apartments</p>
                <p>Address: 54 W Church St Suite 170, Orlando, FL 32801</p>
                <p>Hours: Closes soon ⋅ 11:30 PM ⋅ Opens 11:30 AM Wed</p>
                <p>Phone: <a href="tel:+14076010930">(407) 601-0930</a></p>
            </div>
            <div class="col">
                <iframe title="gMaps" width="25%" height="300px" style="border: 0" loading="lazy"
                    src="https://www.google.com/maps/embed/v1/search?q=54+W+Church+St+Suite+170%2C+Orlando%2C%2CFL+32801&key=AIzaSyCnLU4vB4-iG_nuCysFum6w-2SqWq3IU-M"></iframe>
            </div>
        </div>

        <p class="freeman-small pt-3">Created with ❤️ by Banana 🍌 and Jean 💀</p>
    </footer>

    <!-- Bootstrap 5 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="/js/currentTime.js"></script>
</body>

</html>
