{{!-- TESTING FONTS --}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Freeman&display=swap"
    rel="stylesheet">

<div class="container-fluid">
    <header class="text-center mt-4">
        {{!-- <h1 class="text-uppercase">This was so not worth wasting my sleep 😫🛌</h1> --}}
        {{!-- <p id="current-time" class="mt-4 freeman-regular"></p> --}}
        <p id="countdown" class="mt-4 freeman-regular"></p>
    </header>
    <main>
        {{!-- <section id="moon-goddess" class="sailor-section bg-light py-5"> --}}
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 text-center">
                        <h1 class="display-4">Hello {{name}} !</h1>
                        <p class="moon-phase">Current Moon Phase: Full Moon</p>
                        <div id="moon-image-container" class="mt-4"></div>
                    </div>
                </div>
            </div>
            {{!--
        </section> --}}
        {{!-- <section id="power-rangers" class="sailor-section"> --}}
            <!-- Content related to Sailor Scouts or power -->
        </section>
    </main>
    <footer class="text-center fixed-bottom py-3">
        <p class="freeman-small">Created with ❤️ by Banana 🍌</p>
    </footer>
</div>