<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Freeman&display=swap"
    rel="stylesheet">

<div class="container-fluid">
    <div class="header-container text-center mt-4">
        <img src="../images/coolwhale.jpg" alt="Header Image" class="img-fluid">
    </div>
    <div class="container my-5 py-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4">Hello {{name}} !</h1>
                <p class="moon-phase">Current Moon Phase: Full Moon</p>
                <div id="moon-image-container" class="mt-4"></div>
                <button class="btn btn-primary mt-3" onclick="doNothing()">Click me</button>
            </div>
        </div>
    </div>
    <footer class="text-center fixed-bottom">
        <p class="freeman-small">Created with ❤️ by Banana 🍌</p>
    </footer>
</div>

<script>
    function doNothing() {
        // This function intentionally does nothing
    }
</script>
