/* public/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f1eedd;
    /* background-image: url("../images/pastel-background.jpg"); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

/* .header-container {
    background-image: url("../images/coolwhale.jpg");
} */

footer {
    background-color: black;
    color: white;
}


.freeman-regular {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

.freeman-small {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    text-align: center;
    color: black;
    /* background: rgba(81, 62, 188, 0.5); */
    /* Pink shade with 80% opacity */
    /* background: rgb(46, 46, 184); */
    padding: 20px;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}


h1 {
    color: #333;
    font-size: 2.5em;
}

.img-hover-effect {
    opacity: 0.7;
    /* Adjust initial opacity (default: 1) */
    transition: opacity 0.3s ease-in-out;
    /* Add hover transition */
}

.img-hover-effect:hover {
    opacity: 1;
    /* Set opacity on hover */
}

#headingText {
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#hero {
    background: linear-gradient(#0e0c7057, #0e0c7080), url("https://i.pinimg.com/originals/7b/c1/24/7bc12410da0124244008b81c5f9e37ec.jpg");
    background-position: center;
    background-size: cover;
}

.text-glow {
    color: #00FFFF;
    /* Light cyan for a cool effect */
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6),
        0 0 30px rgba(0, 255, 255, 0.4), 0 0 40px rgba(0, 255, 255, 0.3);
    /* Adjust as needed */
    font-weight: bold;
}

.text-blur {
    color: white;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    /* Adjust as needed */
}

.text-gradient {
    background: linear-gradient(45deg, #00FFFF, #FF00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Adjust as needed */
    font-weight: bold;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.text-shadow {
    color: #00FFFF;
    /* Choose a color that contrasts well with the background */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Adjust as needed */
    font-weight: bold;
}

.btn-custom {
    border-color: #643dcf;
    color: #643dcf;
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
    color: #8ce6ec;
    /* Optional: Changes text color on hover */
    background-color: #643dcf;
    /* Optional: Changes background color on hover */
    box-shadow: 0 0 10px #643dcf, 0 0 20px #643dcf, 0 0 30px #643dcf;
}
